@model Primera.Models.Ticket

@{
    ViewData["Title"] = "Detalles del Ticket";
}

<h4>Ticket</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Placa</dt>
    <dd class="col-sm-10">@Model.Vehiculo?.NoPlaca</dd>

    <dt class="col-sm-2">Espacio</dt>
    <dd class="col-sm-10">@Model.EspacioEstacionamiento?.Estado</dd>

    <dt class="col-sm-2">Fecha de entrada</dt>
    <dd class="col-sm-10">@Model.Fecha_hora_entrada</dd>

    <dt class="col-sm-2">Tarifa</dt>
    <dd class="col-sm-10">@Model.Tarifa?.Descripcion</dd>


    <dt class="col-sm-2">Estado</dt>
    <dd class="col-sm-10">@Model.Estado</dd>


</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Ticket" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
