@model IEnumerable<Primera.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Ticket</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Espacio</th>
            <th>Entrada</th>
            <th>Tarifa</th>
            <th>Estado</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Vehiculo?.NoPlaca</td>
                    <td>@item.EspacioEstacionamiento?.Estado</td>
                    <td>@item.Fecha_hora_entrada.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@item.Tarifa?.Descripcion</td>
                    <td>@item.Estado</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id_Ticket" class="btn btn-sm btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id_Ticket" class="btn btn-sm btn-success">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id_Ticket" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No hay tickets registrados.</td>
            </tr>
        }
    </tbody>
</table>
